:host {
  --dig-ui-pagination-color: rgb(83, 83, 83);
  --dig-ui-pagination-border-radius: 4px;
  --dig-ui-pagination-color-hover: #eee;
  --dig-ui-pagination-color-selected: #ddd;
  --dig-ui-pagination-page-padding: 6px 6px;
  --dig-ui-pagination-min-width: 16px;
  --dig-ui-pagination-box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.267);
  --dig-ui-pagination-border: 0;
  --dig-ui-pagination-separator-border: 0;

  .dig-ui-pagination {
    display: inline-flex;
    box-shadow: var(--dig-ui-pagination-box-shadow);
    border: var(--dig-ui-pagination-border);
    border-radius: var(--dig-ui-pagination-border-radius);
    color: var(--dig-ui-pagination-color);
    overflow: scroll;
    max-width: 100%;

    .dig-ui-pagination-pages {
      display: inline-flex;

      .dig-ui-pagination-page {
        min-width: var(--dig-ui-pagination-min-width);

        span {
          margin: auto;
          text-align: center;
        }

        &:first-child {
          margin-right: -4px;
        }

        &:last-child {
          margin-left: -4px;
        }

        &:not(:last-child) {
          border-right: var(--dig-ui-pagination-separator-border);
        }

        display: inline-flex;
        padding: var(--dig-ui-pagination-page-padding);

        &:hover {
          cursor: pointer;
          background-color: var(--dig-ui-pagination-color-hover);
        }

        &.selected {
          font-weight: bold;
          text-decoration: underline;
          background-color: var(--dig-ui-pagination-color-selected);
        }
      }
    }
  }
}
