:host {
  --dig-ui-popup-padding: 10px;
  --dig-ui-popup-margin: 10px;
  --dig-ui-popup-border-radius: 12px;
  --dig-ui-popup-border-width: 1px;
  --dig-ui-popup-border-color: rgb(209, 209, 209);
  --dig-ui-popup-background-color: rgba(0, 0, 0, 0.1);
  --dig-ui-popup-card-background-color: white;
  --dig-ui-popup-box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.267);
  --dig-ui-popup-z-index: 100;
  --dig-ui-popup-animation-duration: 0.2s;
  --dig-ui-popup-width: 400px;
  --dig-ui-popup-max-height: 80%;
  --dig-ui-popup-overflow: scroll;
}

.dig-ui-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--dig-ui-popup-background-color);
  z-index: var(--dig-ui-popup-z-index);
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.required {
    cursor: not-allowed;
  }

  &.toggled {
    display: flex;

    .dig-ui-popup-card {
      animation: appear var(--dig-ui-popup-animation-duration) ease-in-out;
    }
  }

  .dig-ui-popup-card {
    cursor: initial;
    position: relative;
    padding: var(--dig-ui-popup-padding);
    margin: var(--dig-ui-popup-margin);
    width: var(--dig-ui-popup-width);
    max-height: var(--dig-ui-popup-max-height);
    overflow: var(--dig-ui-popup-overflow);
    border-radius: var(--dig-ui-popup-border-radius);
    border: var(--dig-ui-popup-border-width) solid
      var(--dig-ui-popup-border-color);
    background-color: var(--dig-ui-popup-card-background-color);
    box-shadow: var(--dig-ui-popup-box-shadow);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
