:host {
  position: relative;

  .sun {
    * {
      transition: fill var(--dig-ui-icon-animation-duration),
        stroke var(--dig-ui-icon-animation-duration);
    }

    .sun-rays-long,
    .sun-rays-short {
      fill: var(--dig-ui-icon-color);
    }

    .sun-circle {
      .fill {
        fill: var(--dig-ui-icon-color);
      }

      .clip {
        fill: var(--dig-ui-icon-background-color);
      }
    }

    &.hovered,
    &.focused {
      .sun-rays-long,
      .sun-rays-short {
        fill: var(--dig-ui-icon-hover-color);
      }

      .sun-circle {
        .fill {
          fill: var(--dig-ui-icon-hover-color);
        }

        .clip {
          fill: var(--dig-ui-icon-hover-background-color);
        }
      }
    }

    &.animation {
      &.hovered,
      &.focused {
        .sun-rays-long {
          animation: grow var(--dig-ui-icon-animation-duration) forwards ease;
          animation-delay: calc(var(--dig-ui-icon-animation-duration) / 4);
          transform-origin: center;
        }
        .sun-rays-short {
          animation: grow var(--dig-ui-icon-animation-duration) forwards ease;
          animation-delay: calc(var(--dig-ui-icon-animation-duration) / 2);
          transform-origin: center;
        }
        .sun-circle {
          animation: grow var(--dig-ui-icon-animation-duration) forwards ease;
          transform-origin: center;
        }
      }
    }
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
