:host {
  position: relative;

  .pencil {
    * {
      transition: fill var(--dig-ui-icon-animation-duration),
        stroke var(--dig-ui-icon-animation-duration);
    }

    .pencil-body,
    .pencil-rubber {
      stroke: var(--dig-ui-icon-color);
      fill: var(--dig-ui-icon-background-color);
    }

    .pencil-spike {
      fill: var(--dig-ui-icon-color);
    }

    &.hovered,
    &.focused {
      .pencil-body,
      .pencil-rubber {
        stroke: var(--dig-ui-icon-hover-color);
        fill: var(--dig-ui-icon-hover-background-color);
      }

      .pencil-spike {
        fill: var(--dig-ui-icon-hover-color);
      }
    }

    &.animation {
      &.hovered,
      &.focused {
        animation: wiggle var(--dig-ui-icon-animation-duration) forwards ease;
      }
    }
  }
}

@keyframes wiggle {
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
