:host {
  position: relative;

  .trash {
    * {
      transition: fill var(--dig-ui-icon-animation-duration),
        stroke var(--dig-ui-icon-animation-duration);
    }

    .trash-lid {
      fill: var(--dig-ui-icon-color);

      path {
        stroke: var(--dig-ui-icon-color);
      }
    }

    .trash-body {
      fill: var(--dig-ui-icon-color);
    }

    &.hovered,
    &.focused {
      .trash-lid {
        fill: var(--dig-ui-icon-hover-color);

        path {
          stroke: var(--dig-ui-icon-hover-color);
        }
      }

      .trash-body {
        fill: var(--dig-ui-icon-hover-color);
      }
    }

    &.animation {
      &.hovered,
      &.focused {
        .trash-lid {
          animation: openLid var(--dig-ui-icon-animation-duration) forwards ease;
        }

        .trash-body {
          animation: openBody var(--dig-ui-icon-animation-duration) forwards
            ease;
        }
      }
    }
  }
}

@keyframes openLid {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  100% {
    transform: rotate(20deg) translateY(-26%) translateX(8%);
  }
}

@keyframes openBody {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(6%);
  }
}
