:host {
  --dig-ui-icon-size: 30px;
  --dig-ui-icon-color: rgb(95, 95, 95);
  --dig-ui-icon-hover-color: rgb(61, 61, 61);
  --dig-ui-icon-background-color: white;
  --dig-ui-icon-hover-background-color: rgba(204, 213, 251, 1);
  --dig-ui-icon-animation-duration: 0.3s;
  --dig-ui-icon-border: 1px solid transparent;
  --dig-ui-icon-border-radius: 6px;
  --dig-ui-icon-hover-border-radius: calc(var(--dig-ui-icon-size) / 4);

  display: inline-flex;
  margin: 0;
  border: 0;
  padding: 0;

  * {
    transition: all var(--dig-ui-icon-animation-duration),
      stroke var(--dig-ui-icon-animation-duration);
  }

  .dig-ui-icon {
    margin: 0;
    outline: 0;
    border: var(--dig-ui-icon-border);
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    border-radius: var(--dig-ui-icon-border-radius);
    background-color: var(--dig-ui-icon-background-color);

    width: var(--dig-ui-icon-size);
    height: var(--dig-ui-icon-size);

    &:hover,
    &:focus {
      border-radius: var(--dig-ui-icon-hover-border-radius);
      background-color: var(--dig-ui-icon-hover-background-color);
    }
  }
}
