:host {
  position: relative;

  .letter {
    * {
      transition: fill var(--dig-ui-icon-animation-duration),
        stroke var(--dig-ui-icon-animation-duration);
    }

    .letter-body {
      stroke: var(--dig-ui-icon-color);
    }

    .letter-fold {
      fill: var(--dig-ui-icon-color);
    }

    .letter-head {
      fill: var(--dig-ui-icon-color);
    }

    .letter-mask {
      fill: var(--dig-ui-icon-background-color);
    }

    &.hovered,
    &.focused {
      .letter-body {
        stroke: var(--dig-ui-icon-hover-color);
      }

      .letter-fold {
        fill: var(--dig-ui-icon-hover-color);
      }

      .letter-head {
        fill: var(--dig-ui-icon-hover-color);
      }

      .letter-mask {
        fill: var(--dig-ui-icon-hover-background-color);
      }
    }

    &.animation {
      &.hovered,
      &.focused {
        .letter-head,
        .letter-mask {
          animation: openHead var(--dig-ui-icon-animation-duration) forwards
            ease;
          transform-origin: 50% 30%;
        }

        .letter-body,
        .letter-fold {
          animation: goDown var(--dig-ui-icon-animation-duration) forwards ease;
        }
      }
    }
  }
}

@keyframes openHead {
  0% {
    transform: perspective(1000px) rotateX(0deg);
  }
  100% {
    transform: perspective(1000px) rotateX(180deg);
  }
}

@keyframes goDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(12%);
  }
}
