:host {
  position: relative;

  .copy {
    * {
      transition: fill var(--dig-ui-icon-animation-duration),
        stroke var(--dig-ui-icon-animation-duration);
    }

    .front,
    .back {
      stroke: var(--dig-ui-icon-color);
      fill: var(--dig-ui-icon-background-color);
    }

    &.hovered,
    &.focused {
      .front,
      .back {
        stroke: var(--dig-ui-icon-hover-color);
        fill: var(--dig-ui-icon-hover-background-color);
      }
    }

    &.animation {
      &.hovered,
      &.focused {
        .front {
          animation: goDown var(--dig-ui-icon-animation-duration) forwards ease;
        }

        .back {
          animation: goUp var(--dig-ui-icon-animation-duration) forwards ease;
        }
      }
    }
  }
}

@keyframes goUp {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(-5%) translateY(-5%);
  }
}

@keyframes goDown {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(5%) translateY(5%);
  }
}
