:host {
  position: relative;

  .cross {
    * {
      transition: fill var(--dig-ui-icon-animation-duration),
        stroke var(--dig-ui-icon-animation-duration);
    }

    fill: var(--dig-ui-icon-color);

    &.hovered,
    &.focused {
      fill: var(--dig-ui-icon-hover-color);
    }

    &.animation {
      &.hovered,
      &.focused {
        animation: shrink var(--dig-ui-icon-animation-duration) forwards ease;
      }
    }
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
