:host {
  position: relative;

  .download {
    * {
      transition: fill var(--dig-ui-icon-animation-duration),
        stroke var(--dig-ui-icon-animation-duration);
    }

    .body {
      stroke: var(--dig-ui-icon-color);
      fill: var(--dig-ui-icon-background-color);
    }

    .arrow {
      transform: rotate(180deg) translateY(16px);
      transform-origin: center;
      fill: var(--dig-ui-icon-color);
    }

    &.hovered,
    &.focused {
      .body {
        stroke: var(--dig-ui-icon-hover-color);
        fill: var(--dig-ui-icon-hover-background-color);
      }

      .arrow {
        fill: var(--dig-ui-icon-hover-color);
      }
    }

    &.animation {
      &.hovered,
      &.focused {
        .arrow {
          animation: goDown var(--dig-ui-icon-animation-duration) forwards ease;
        }
      }
    }
  }
}

@keyframes goDown {
  0% {
    transform: rotate(180deg) translateY(16px);
  }
  100% {
    transform: rotate(180deg) translateY(10px);
  }
}
