:host {
  position: relative;

  .eye {
    * {
      transition: fill var(--dig-ui-icon-animation-duration),
        stroke var(--dig-ui-icon-animation-duration);
    }

    .eye-outline {
      stroke: var(--dig-ui-icon-color);
    }
    .eye-iris {
      stroke: var(--dig-ui-icon-color);
    }
    .eye-pupil {
      fill: var(--dig-ui-icon-color);
    }
    .eye-close {
      fill: var(--dig-ui-icon-color);
    }
    .eye-bar {
      fill: var(--dig-ui-icon-color);
    }

    &.hovered,
    &.focused {
      .eye-outline {
        stroke: var(--dig-ui-icon-hover-color);
      }
      .eye-iris {
        stroke: var(--dig-ui-icon-hover-color);
      }
      .eye-pupil {
        fill: var(--dig-ui-icon-hover-color);
      }
      .eye-close {
        fill: var(--dig-ui-icon-hover-color);
      }
      .eye-bar {
        fill: var(--dig-ui-icon-hover-color);
      }
    }

    &.animation {
      &.hovered,
      &.focused {
        .eye-close {
          #close {
            animation: blink var(--dig-ui-icon-animation-duration) forwards ease;
          }
        }
      }
    }
  }
}

@keyframes blink {
  0% {
    ry: 0px;
  }
  50% {
    ry: 60px;
  }
  100% {
    ry: 0px;
  }
}
