:host {
  position: relative;

  .upload {
    * {
      transition: fill var(--dig-ui-icon-animation-duration),
        stroke var(--dig-ui-icon-animation-duration);
    }

    .body {
      stroke: var(--dig-ui-icon-color);
      fill: var(--dig-ui-icon-background-color);
    }

    .arrow {
      fill: var(--dig-ui-icon-color);
    }

    &.hovered,
    &.focused {
      .body {
        stroke: var(--dig-ui-icon-hover-color);
        fill: var(--dig-ui-icon-hover-background-color);
      }

      .arrow {
        fill: var(--dig-ui-icon-hover-color);
      }
    }

    &.animation {
      &.hovered,
      &.focused {
        .arrow {
          animation: goUp var(--dig-ui-icon-animation-duration) forwards ease;
        }
      }
    }
  }
}

@keyframes goUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5%);
  }
}
