:host {
  position: relative;

  .moon {
    * {
      transition: fill var(--dig-ui-icon-animation-duration),
        stroke var(--dig-ui-icon-animation-duration);
    }

    .fill {
      fill: var(--dig-ui-icon-color);
    }
    .clip {
      fill: var(--dig-ui-icon-background-color);
    }

    &.hovered,
    &.focused {
      .fill {
        fill: var(--dig-ui-icon-hover-color);
      }
      .clip {
        fill: var(--dig-ui-icon-hover-background-color);
      }
    }

    &.animation {
      &.hovered,
      &.focused {
        animation: wiggle var(--dig-ui-icon-animation-duration) forwards ease;
      }
    }
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
