:host {
  --dig-ui-title-color: black;
  --dig-ui-title-line-color: black;
  --dig-ui-title-padding-vertical: 12px;
  --dig-ui-title-padding-horizontal: 2px;
  --dig-ui-title-text-align: left;
  --dig-ui-title-line-height: 1px;
  --dig-ui-title-line-gap: 12px;
  --dig-ui-title-font-size: 32px;
  --dig-ui-title-font-weight: 700;
  --dig-ui-title-font: default;
}

.title {
  overflow: hidden;
  margin: 0;
  padding: var(--dig-ui-title-padding-vertical)
    var(--dig-ui-title-padding-horizontal);
  color: var(--dig-ui-title-color);
  position: relative;
  font-size: var(--dig-ui-title-font-size);
  font-weight: var(--dig-ui-title-font-weight);

  .text {
    text-align: var(--dig-ui-title-text-align);
    vertical-align: middle;
    position: relative;
    width: 100%;
    overflow: hidden;
    // align-items: center;
    display: inline-block;
  }

  &.line {
    .text:before,
    .text:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 100%;
      height: var(--dig-ui-title-line-height);
      background-color: var(--dig-ui-title-line-color);
    }

    .text:before {
      transform-origin: left;
      transform: rotate(180deg) translateX(var(--dig-ui-title-line-gap));
    }

    .text:after {
      margin-left: var(--dig-ui-title-line-gap);
    }
  }
}
