@keyframes uncollapsecontent {
  0% {
    opacity: 0;
    max-height: 0%;
  }

  100% {
    opacity: 1;
    max-height: 100%;
  }
}

:host {
  --dig-ui-collapsible-border-radius: 6px;
  --dig-ui-collapsible-title-bottom-border-color: rgba(0, 0, 0, 0.125);
  --dig-ui-collapsible-background: rgba(0, 0, 255, 0.0365);
  --dig-ui-collapsible-title-hover-background: rgba(0, 0, 255, 0.0665);
  --dig-ui-collapsible-content-border-color: rgba(0, 0, 0, 0.25);
  --dig-ui-collapsible-title-vertical-padding: 5px;
  --dig-ui-collapsible-content-padding: 5px;
  --dig-ui-collapsible-animation-duration: 0.5s;
  --dig-ui-collapsible-arrow-animation-duration: 0.2s;
  --dig-ui-collapsible-title-height: 40px;
}

:host .dig-ui-collapsible-title {
  border-top-left-radius: var(--dig-ui-collapsible-border-radius);
  border-top-right-radius: var(--dig-ui-collapsible-border-radius);
  border: var(--dig-ui-collapsible-content-border-color) 1px solid;
  background-color: var(--dig-ui-collapsible-background);
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding-top: var(--dig-ui-collapsible-title-vertical-padding);
  padding-bottom: var(--dig-ui-collapsible-title-vertical-padding);
  box-sizing: border-box;
  height: var(--dig-ui-collapsible-title-height);
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  position: relative;
}

.dig-ui-collapsible-title:after {
  content: '▾';
  position: absolute;
  right: 10px;
  transition: transform var(--dig-ui-collapsible-arrow-animation-duration)
    ease-out;
}

.dig-ui-collapsible-title:not(.hidden):after {
  transform: rotate(180deg);
}

:host .dig-ui-collapsible-title:hover {
  background: var(--dig-ui-collapsible-title-hover-background);
}

:host .dig-ui-collapsible-title:not(.hidden) {
  border-bottom-color: var(--dig-ui-collapsible-title-bottom-border-color);
}

:host .dig-ui-collapsible-content {
  border-bottom-left-radius: var(--dig-ui-collapsible-border-radius);
  border-bottom-right-radius: var(--dig-ui-collapsible-border-radius);
  border: var(--dig-ui-collapsible-content-border-color) 1px solid;
  border-top: none;
  width: 100%;
  padding: var(--dig-ui-collapsible-content-padding);
  box-sizing: border-box;
}

:host .dig-ui-collapsible-content.hidden {
  display: none;
}

:host .dig-ui-collapsible-content:not(.hidden) {
  animation-name: uncollapsecontent;
  animation-duration: var(--dig-ui-collapsible-animation-duration);
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
