:host {
  --dig-ui-tabset-title-height: 40px;
  --dig-ui-tabset-title-selected-background: rgba(0, 0, 255, 0.0365);
  --dig-ui-tabset-title-hover-background: rgba(0, 0, 255, 0.0665);
  --dig-ui-tabset-title-hover-selected-background: rgba(0, 0, 255, 0.0765);
  --dig-ui-tabset-title-hover-animation-duration: 0.1s;
  --dig-ui-tabset-title-padding: 2px;
  --dig-ui-tabset-border-radius: 6px;
  --dig-ui-tabset-border-width: 1px;
  --dig-ui-tabset-border-color: rgba(0, 0, 0, 0.2);
  --dig-ui-tabset-title-border-width: 1px;
  --dig-ui-tabset-title-border-color: rgba(0, 0, 0, 0.125);
  --dig-ui-tabset-content-padding: 5px;
  --dig-ui-tabset-width: 100%;
  --dig-ui-tabset-animation-duration: 0.25s;

  display: flex;
  width: var(--dig-ui-tabset-width);
}

.dig-ui-tabset {
  display: flex;
  flex-flow: column;
  border: var(--dig-ui-tabset-border-color) var(--dig-ui-tabset-border-width)
    solid;
  border-radius: var(--dig-ui-tabset-border-radius);
  width: var(--dig-ui-tabset-width);
  overflow-x: hidden;
}

.dig-ui-tabset-titles {
  display: flex;
  border-bottom: var(--dig-ui-tabset-title-border-color)
    var(--dig-ui-tabset-title-border-width) solid;
  overflow: scroll;
}

.dig-ui-tabset-title {
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: var(--dig-ui-tabset-title-height);
  padding: var(--dig-ui-tabset-title-padding);
  display: flex;
  transition: background-color
    var(--dig-ui-tabset-title-hover-animation-duration);

  &:not(:last-child) {
    border-right: var(--dig-ui-tabset-title-border-color)
      var(--dig-ui-tabset-title-border-width) solid;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--dig-ui-tabset-title-hover-background);
  }

  &.selected {
    background-color: var(--dig-ui-tabset-title-selected-background);
  }

  &:hover.selected {
    background-color: var(--dig-ui-tabset-title-hover-selected-background);
  }
}

.dig-ui-tabset-content {
  padding: var(--dig-ui-tabset-content-padding);
  overflow: scroll;
}

.animateForwardsOut {
  animation-name: contentForwardsOut;
  animation-iteration-count: 1;
  animation-duration: var(--dig-ui-tabset-animation-duration);
}

.animateBackwardsOut {
  animation-name: contentBackwardsOut;
  animation-iteration-count: 1;
  animation-duration: var(--dig-ui-tabset-animation-duration);
}

.animateForwardsIn {
  animation-name: contentForwardsIn;
  animation-iteration-count: 1;
  animation-duration: var(--dig-ui-tabset-animation-duration);
}

.animateBackwardsIn {
  animation-name: contentBackwardsIn;
  animation-iteration-count: 1;
  animation-duration: var(--dig-ui-tabset-animation-duration);
}

@keyframes contentForwardsOut {
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes contentBackwardsOut {
  100% {
    transform: translateX(-50%);
    opacity: 0;
  }
}

@keyframes contentForwardsIn {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentBackwardsIn {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
