:host {
  --dig-ui-badge-border-radius: 0.25rem;
  --dig-ui-badge-vertical-padding: 2px;
  --dig-ui-badge-horizontal-padding: 5px;
  --dig-ui-badge-background-color: red;
  --dig-ui-badge-text-color: white;
  --dig-ui-badge-font-weight: 700;
  --dig-ui-badge-font-size: 75%;

  border-radius: var(--dig-ui-badge-border-radius);
  padding-top: var(--dig-ui-badge-vertical-padding);
  padding-bottom: var(--dig-ui-badge-vertical-padding);
  padding-left: var(--dig-ui-badge-horizontal-padding);
  padding-right: var(--dig-ui-badge-horizontal-padding);
  background-color: var(--dig-ui-badge-background-color);
  color: var(--dig-ui-badge-text-color);
  align-items: center;
  display: inline-block;
  font-weight: var(--dig-ui-badge-font-weight);
  font-size: var(--dig-ui-badge-font-size);
}
