:host {
  --dig-ui-toast-margin: 5px;
  --dig-ui-toast-padding: 20px;
  --dig-ui-toast-icon-padding: 10px;
  --dig-ui-toast-icon-size: 30px;
  --dig-ui-toast-opacity: 0.8;
  --dig-ui-toast-color-success: #65c548;
  --dig-ui-toast-color-info: #5ec4ff;
  --dig-ui-toast-color-warning: #ffaa64;
  --dig-ui-toast-color-error: #e73b3b;
  --dig-ui-toast-appear-duration: 0.3s;
  --dig-ui-toast-disappear-duration: 0.3s;

  position: relative;
  margin: var(--dig-ui-toast-margin);
}

.dig-ui-toast {
  padding: var(--dig-ui-toast-padding);
  padding-left: calc(
    var(--dig-ui-toast-icon-padding) * 2 + var(--dig-ui-toast-icon-size)
  );
  border-radius: 2px;
  color: white;
  opacity: var(--dig-ui-toast-opacity);
  animation: toastAppear var(--dig-ui-toast-appear-duration);
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &.disappear {
    animation: toastDisappear var(--dig-ui-toast-disappear-duration);
  }

  &.success {
    background-color: var(--dig-ui-toast-color-success);
  }

  &.info {
    background-color: var(--dig-ui-toast-color-info);
  }

  &.warning {
    background-color: var(--dig-ui-toast-color-warning);
  }

  &.error {
    background-color: var(--dig-ui-toast-color-error);
  }
}

.svg-container {
  display: block;

  svg {
    width: var(--dig-ui-toast-icon-size);
    height: var(--dig-ui-toast-icon-size);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: var(--dig-ui-toast-icon-padding);
    opacity: 0.5;
  }
}

@keyframes toastAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: var(--dig-ui-toast-opacity);
  }
}

@keyframes toastDisappear {
  100% {
    opacity: 0;
  }
}
