:host {
  --dig-ui-toaster-z-index: 99;
  --dig-ui-toaster-vertical-position: 0px;
  --dig-ui-toaster-horizontal-position: 0px;
  --dig-ui-toaster-max-width: calc(max(50%, 200px));
  --dig-ui-toaster-max-height: 100%;

  position: absolute;
  display: grid;
  justify-items: end;
  overflow: hidden;
  max-width: var(--dig-ui-toaster-max-width);
  max-height: var(--dig-ui-toaster-max-height);
  z-index: var(--dig-ui-toaster-z-index);
  right: var(--dig-ui-toaster-horizontal-position);
  top: var(--dig-ui-toaster-vertical-position);
}

:host([right]) {
  right: var(--dig-ui-toaster-horizontal-position);
  left: auto;
  justify-items: end;
}

:host([left]) {
  left: var(--dig-ui-toaster-horizontal-position);
  right: auto;
  justify-items: start;
}

:host([top]) {
  top: var(--dig-ui-toaster-vertical-position);
  bottom: auto;
}

:host([bottom]) {
  bottom: var(--dig-ui-toaster-vertical-position);
  top: auto;
}
