@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

:host {
  --dig-ui-loader-border-color: black;
  --dig-ui-border-width: 0.25em;
  --dig-ui-border-style: solid;
  --dig-ui-rotation-duration: 1s;
  --dig-ui-rotation-timing-function: ease-out;
  --dig-ui-loader-diameter: 2rem;

  width: var(--dig-ui-loader-diameter);
  height: var(--dig-ui-loader-diameter);
}

.dig-ui-loader {
  display: inline-block;
  border-radius: 50%;
  border-width: var(--dig-ui-border-width);
  border-style: var(--dig-ui-border-style);
  border-right-color: transparent;
  animation-name: loader-rotate;
  animation-duration: var(--dig-ui-rotation-duration);
  animation-iteration-count: infinite;
  animation-timing-function: var(--dig-ui-rotation-timing-function);
  width: var(--dig-ui-loader-diameter);
  height: var(--dig-ui-loader-diameter);
}
