:host {
  --dig-ui-menu-button-icon-size: 30px;
  --dig-ui-menu-button-color: var(--dig-ui-global-button-color);
  --dig-ui-menu-button-animation-duration: 0.3s;
  --dig-ui-menu-button-transform-offset: calc(
    var(--dig-ui-menu-button-icon-size) / 3 * 2
  );
  --dig-ui-menu-button-transform-offset-neg: calc(
    0px - var(--dig-ui-menu-button-icon-size) / 3 * 2
  );
  --dig-ui-menu-button-transform-left: calc(
    0px - var(--dig-ui-menu-button-icon-size)
  );
  --dig-ui-menu-button-line-height: calc(
    var(--dig-ui-menu-button-icon-size) / 8
  );
  --dig-ui-menu-button-line-radius: calc(
    var(--dig-ui-menu-button-icon-size) / 10
  );
  --dig-ui-menu-button-line-space-up: calc(
    0px - var(--dig-ui-menu-button-icon-size) / 3
  );
  --dig-ui-menu-button-line-space-down: calc(
    var(--dig-ui-menu-button-icon-size) / 3
  );

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--dig-ui-menu-button-icon-size);
  height: var(--dig-ui-menu-button-icon-size);
  cursor: pointer;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  background-color: var(--dig-ui-menu-button-color);
  width: var(--dig-ui-menu-button-icon-size);
  height: var(--dig-ui-menu-button-line-height);
  border-radius: var(--dig-ui-menu-button-line-radius);
  transition: all var(--dig-ui-menu-button-animation-duration) ease-in-out;
  transition-property: transform, background-color;
}

.menu-button::before,
.menu-button::after {
  content: '';
  position: absolute;
  left: 0px;
}

.menu-button::before {
  transform: translateY(var(--dig-ui-menu-button-line-space-up));
}

.menu-button::after {
  transform: translateY(var(--dig-ui-menu-button-line-space-down));
}

.menu-button.toggled {
  transform: translateX(var(--dig-ui-menu-button-transform-left));
  background-color: transparent;
}

.menu-button.toggled::before {
  transform: rotate(-45deg)
    translate(
      var(--dig-ui-menu-button-transform-offset),
      var(--dig-ui-menu-button-transform-offset)
    );
}

.menu-button.toggled::after {
  transform: rotate(45deg)
    translate(
      var(--dig-ui-menu-button-transform-offset),
      var(--dig-ui-menu-button-transform-offset-neg)
    );
}
