:host {
  --dig-ui-standard-button-font-color: white;
  --dig-ui-standard-button-font-size: 16px;
  --dig-ui-standard-button-font-family: inherit;
  --dig-ui-standard-button-background-color: green;
  --dig-ui-standard-button-padding-vertical: 10px;
  --dig-ui-standard-button-padding-horizontal: 10px;
  --dig-ui-standard-button-border-radius: 4px;
  --dig-ui-standard-button-hover-filter: brightness(110%);
  --dig-ui-standard-button-hover-duration: 0.3s;
  --dig-ui-standard-button-wave-color: rgba(255, 255, 255, 0.4);
  --dig-ui-standard-button-wave-duration: 0.7s;
  --dig-ui-standard-button-focus-color: blue;
  --dig-ui-standard-button-focus-width: 2px;
  --dig-ui-standard-button-text-align: center;

  display: inline-flex;
}

:host(:disabled) {
  pointer-events: none;
}

button {
  position: relative;
  border: 0;
  outline: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: var(--dig-ui-standard-button-text-align);
  color: var(--dig-ui-standard-button-font-color);
  background-color: var(--dig-ui-standard-button-background-color);
  padding: var(--dig-ui-standard-button-padding-vertical)
    var(--dig-ui-standard-button-padding-horizontal);
  font-size: var(--dig-ui-standard-button-font-size);
  font-family: var(--dig-ui-standard-button-font-family);
  border-radius: var(--dig-ui-standard-button-border-radius);
  transition: filter var(--dig-ui-standard-button-hover-duration);
  cursor: pointer;
  overflow: hidden;
}

button:hover {
  filter: var(--dig-ui-standard-button-hover-filter);
}

button:focus {
  box-shadow: 0 0 0 var(--dig-ui-standard-button-focus-width)
    var(--dig-ui-standard-button-focus-color) inset;
}

button:disabled {
  filter: grayscale(90%);
  cursor: default;
}

.ripple {
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  background-color: var(--dig-ui-standard-button-wave-color);
  animation: wave var(--dig-ui-standard-button-wave-duration) linear;
}

@keyframes wave {
  0% {
    opacity: 0.3;
    transform: scale(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(2.2);
  }
}
