:host {
  --dig-ui-validate-button-size: 30px;
  --dig-ui-validate-button-border-width: 4px;
  --dig-ui-validate-button-border-radius: 30px;
  --dig-ui-validate-button-color-valid: var(--dig-ui-global-valid-color);
  --dig-ui-validate-button-color-invalid: var(--dig-ui-global-invalid-color);
  --dig-ui-validate-button-animation-duration: 0.3s;

  --dig-ui-validate-button-cross-width: calc(
    var(--dig-ui-validate-button-size) * 1.4142
  );
  --dig-ui-validate-button-before-left: calc(
    var(--dig-ui-validate-button-border-width) / 3
  );
  --dig-ui-validate-button-before-top: calc(
    0px - var(--dig-ui-validate-button-border-width) / 3
  );
  --dig-ui-validate-button-after-right: calc(
    var(--dig-ui-validate-button-border-width) / 3
  );
  --dig-ui-validate-button-after-top: calc(
    0px - var(--dig-ui-validate-button-border-width) / 3
  );
  --dig-ui-validate-button-validate-before-width: calc(
    var(--dig-ui-validate-button-size) * 0.575
  );
  --dig-ui-validate-button-validate-after-width: calc(
    var(--dig-ui-validate-button-size) * 1.15
  );
  --dig-ui-validate-button-before-validate-top: calc(
    0px - var(--dig-ui-validate-button-border-width) / 3 +
      var(--dig-ui-validate-button-size) * 0.5
  );
  --dig-ui-validate-button-before-validate-left: calc(
    var(--dig-ui-validate-button-size) * 0.15 +
      var(--dig-ui-validate-button-border-width) * 0.7
  );

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--dig-ui-validate-button-size);
  height: var(--dig-ui-validate-button-size);
  cursor: pointer;
}

:host(:disabled) {
  cursor: not-allowed;
  opacity: 0.3;
}

.icon {
  width: var(--dig-ui-validate-button-size);
  height: var(--dig-ui-validate-button-size);
  transform: scale(0.7);
}

.icon::before,
.icon::after {
  content: '';
  position: absolute;
  width: var(--dig-ui-validate-button-cross-width);
  height: var(--dig-ui-validate-button-border-width);
  background-color: var(--dig-ui-validate-button-color-invalid);
  border-radius: var(--dig-ui-validate-button-border-radius);
  transition: all var(--dig-ui-validate-button-animation-duration);
}

.icon::before {
  transform: rotate(45deg);
  transform-origin: top left;
  left: var(--dig-ui-validate-button-before-left);
  top: var(--dig-ui-validate-button-before-top);
}

.icon::after {
  transform: rotate(-45deg);
  transform-origin: top right;
  right: var(--dig-ui-validate-button-after-right);
  top: var(--dig-ui-validate-button-after-top);
}

.icon.toggled::before,
.icon.toggled::after {
  background-color: var(--dig-ui-validate-button-color-valid);
}

.icon.toggled:before {
  left: var(--dig-ui-validate-button-before-validate-left);
  top: var(--dig-ui-validate-button-before-validate-top);
  transform: rotate(60deg);
  width: var(--dig-ui-validate-button-validate-before-width);
}

.icon.toggled::after {
  right: var(--dig-ui-validate-button-after-right);
  top: var(--dig-ui-validate-button-after-top);
  transform: rotate(-60deg);
  width: var(--dig-ui-validate-button-validate-after-width);
}
