:host {
  --dig-ui-nav-bar-item-padding: 10px;
  --dig-ui-nav-bar-item-color: #616161;
  --dig-ui-nav-bar-item-font-size: var(--dig-ui-nav-bar-font-size);
  --dig-ui-nav-bar-item-font-weight: var(--dig-ui-nav-bar-font-weight);
  --dig-ui-nav-bar-item-text-decoration: none;
  --dig-ui-nav-bar-item-hover-animation-duration: 0.1s;
  --dig-ui-nav-bar-item-hover-color: #616161;
  --dig-ui-nav-bar-item-hover-background-color: #ddd;
  --dig-ui-nav-bar-item-hover-text-decoration: underline;

  display: table-cell;
  cursor: pointer;
  vertical-align: middle;

  padding: var(--dig-ui-nav-bar-item-padding);

  font-size: var(--dig-ui-nav-bar-item-font-size);
  font-weight: var(--dig-ui-nav-bar-item-font-weight);
  text-decoration: var(--dig-ui-nav-bar-item-text-decoration);
  transition: all var(--dig-ui-nav-bar-item-hover-animation-duration);
}

:host(:hover) {
  background-color: var(--dig-ui-nav-bar-item-hover-background-color);
  color: var(--dig-ui-nav-bar-item-hover-color);
  text-decoration: var(--dig-ui-nav-bar-item-hover-text-decoration);
}

::slotted(img) {
  display: block;
}

.item {
  white-space: nowrap;

  color: var(--dig-ui-nav-bar-item-color);
}
