:host {
  --dig-ui-content-background-color: white;
  --dig-ui-nav-bar-padding: 10px;
  --dig-ui-nav-bar-background-color: #ebebeb;
  --dig-ui-nav-bar-border-color: #ccc;
  --dig-ui-nav-bar-icon-size: 25px;
  --dig-ui-side-bar-max-width: min(80%, 400px);
  --dig-ui-side-bar-background-color: #ebebeb;
  --dig-ui-side-bar-border-color: #ccc;
  --dig-ui-footer-color: #616161;
  --dig-ui-footer-background-color: #dbdbdb;
  --dig-ui-side-bar-animation-duration: 0.3s;
  --dig-ui-content-mobile-opacity: 0.5;
  --dig-ui-content-margin: 30px;
  --dig-ui-border-width: 1px;
  --dig-ui-view-font-size: 18px;
  --dig-ui-view-font-weight: 500;
  --dig-ui-view-font: default;
  --dig-ui-footer-font-size: var(--dig-ui-view-font-size);
  --dig-ui-footer-font-weight: var(--dig-ui-view-font-weight);
  --dig-ui-footer-font: var(--dig-ui-view-font);
  --dig-ui-content-font-size: var(--dig-ui-view-font-size);
  --dig-ui-content-font-weight: var(--dig-ui-view-font-weight);
  --dig-ui-content-font: var(--dig-ui-view-font);
  --dig-ui-nav-bar-font-size: var(--dig-ui-view-font-size);
  --dig-ui-nav-bar-font-weight: var(--dig-ui-view-font-weight);
  --dig-ui-nav-bar-font: var(--dig-ui-view-font);
  --dig-ui-side-bar-font-size: var(--dig-ui-view-font-size);
  --dig-ui-side-bar-font-weight: var(--dig-ui-view-font-weight);
  --dig-ui-side-bar-font: var(--dig-ui-view-font);

  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: 100vh;
  font-size: var(--dig-ui-view-font-size);
  font-weight: var(--dig-ui-view-font-weight);
  overflow: hidden;
}

.nav-bar {
  z-index: 7;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  flex-shrink: 0;
  overflow-x: scroll;

  background-color: var(--dig-ui-nav-bar-background-color);
  border-bottom: var(--dig-ui-border-width) solid
    var(--dig-ui-nav-bar-border-color);
  font-size: var(--dig-ui-nav-bar-font-size);
  font-weight: var(--dig-ui-nav-bar-font-weight);
}

.main {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  padding-top: var(--dig-ui-nav-bar-height);
}

.side-bar {
  position: fixed;
  overflow: auto;
  border: 0;
  height: 100%;
  opacity: 0;

  max-width: var(--dig-ui-side-bar-max-width);
  background-color: var(--dig-ui-side-bar-background-color);
  border-right: var(--dig-ui-border-width) solid
    var(--dig-ui-side-bar-border-color);
  transition: transform var(--dig-ui-side-bar-animation-duration),
    opacity var(--dig-ui-side-bar-animation-duration);
  height: calc(100% - var(--dig-ui-nav-bar-height));

  transform: translateX(calc(0px - var(--dig-ui-side-bar-width)));
  font-size: var(--dig-ui-side-bar-font-size);
  font-weight: var(--dig-ui-side-bar-font-weight);
}

.side-bar.toggled {
  transform: translateX(0px);
  opacity: 1;
  z-index: 10;
}

.content {
  padding-left: 0px;
  transition: padding-left var(--dig-ui-side-bar-animation-duration),
    width var(--dig-ui-side-bar-animation-duration);
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  position: fixed;
  overflow: auto;
  border: 0;
  width: 100%;
  height: calc(100% - var(--dig-ui-nav-bar-height));
  font-size: var(--dig-ui-side-bar-font-size);
  font-weight: var(--dig-ui-side-bar-font-weight);
}

.side-bar.toggled + .content {
  padding-left: var(--dig-ui-side-bar-width);
  width: calc(100% - var(--dig-ui-side-bar-width));
}

::slotted(*[slot='content']) {
  margin: var(--dig-ui-content-margin);
  flex-grow: 1;
}

::slotted(*[slot='footer']) {
  flex-shrink: 0;
  display: flex;

  background-color: var(--dig-ui-footer-background-color);
  color: var(--dig-ui-footer-color);
  font-size: var(--dig-ui-footer-font-size);
  font-weight: var(--dig-ui-footer-font-weight);
}

.dig-ui-nav-bar-item-menu-button {
  display: table-cell !important;
}

.filter {
  z-index: 8;
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
  overflow: hidden;
  top: var(--dig-ui-nav-bar-height);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  opacity: var(--dig-ui-content-mobile-opacity);
}

@media only screen and (max-width: 600px) {
  .side-bar {
    z-index: 10;
  }

  .side-bar.toggled + .content {
    padding-left: 0px;
    width: 100%;

    .filter {
      display: flex;
    }
  }

  ::slotted(*[slot='footer']) {
    flex-direction: column;
  }
}
