:host {
  --dig-ui-side-bar-item-color: #616161;
  --dig-ui-side-bar-item-hover-color: #616161;
  --dig-ui-side-bar-item-hover-background-color: #ddd;
  --dig-ui-side-bar-item-padding: 10px;
  --dig-ui-side-bar-item-padding-depth: 10px;
  --dig-ui-side-bar-item-font-size: var(--dig-ui-side-bar-font-size);
  --dig-ui-side-bar-item-font-weight: var(--dig-ui-side-bar-font-weight);
  --dig-ui-side-bar-item-font: var(--dig-ui-side-bar-font);
  --dig-ui-side-bar-item-text-decoration: none;
  --dig-ui-side-bar-item-hover-animation-duration: 0.1s;
  --dig-ui-side-bar-item-hover-text-decoration: underline;

  display: block;
  cursor: pointer;
  width: 100%;
  font-size: var(--dig-ui-side-bar-item-font-size);
  font-weight: var(--dig-ui-side-bar-item-font-weight);
  text-decoration: var(--dig-ui-side-bar-item-text-decoration);
  transition: all var(--dig-ui-side-bar-item-hover-animation-duration);
}

:host(:hover) {
  background-color: var(--dig-ui-side-bar-item-hover-background-color);
  color: var(--dig-ui-side-bar-item-hover-color);
  text-decoration: var(--dig-ui-side-bar-item-hover-text-decoration);
}

.item {
  padding: var(--dig-ui-side-bar-item-padding);
  color: var(--dig-ui-side-bar-item-color);
}
