:host {
  --dig-ui-login-card-border-width: 1px;
  --dig-ui-login-card-border-color: rgba(0, 0, 0, 0.125);
  --dig-ui-login-card-box-shadow: 0;
  --dig-ui-login-card-background-color: white;
  --dig-ui-login-card-border-radius: 6px;
  --dig-ui-login-card-margin: 20px;
  --dig-ui-login-card-padding: 30px 40px;
  --dig-ui-login-card-mobile-padding: 16px;
  --dig-ui-login-card-image-height: 60px;
  --dig-ui-login-card-image-padding: 10px 0px;
  --dig-ui-login-card-links-padding: 20px;
  --dig-ui-login-card-links-font-size: 12px;
  --dig-ui-login-card-links-gap: 10px;
  --dig-ui-login-card-min-width: 400px;
  --dig-ui-login-card-max-width: 600px;

  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-card {
  padding: var(--dig-ui-login-card-padding);
  margin: var(--dig-ui-login-card-margin);
  text-align: center;
  min-width: var(--dig-ui-login-card-min-width);
  max-width: var(--dig-ui-login-card-max-width);
  border-radius: var(--dig-ui-login-card-border-radius);
  border: var(--dig-ui-login-card-border-width) solid
    var(--dig-ui-login-card-border-color);
  background-color: var(--dig-ui-login-card-background-color);
  box-shadow: var(--dig-ui-login-card-box-shadow);
}

::slotted(*[slot='logo']) {
  height: var(--dig-ui-login-card-image-height);
  padding: var(--dig-ui-login-card-image-padding);
}

::slotted(*[slot='links']) {
  padding: var(--dig-ui-login-card-links-padding);
  grid-gap: var(--dig-ui-login-card-links-gap);
  display: grid;
  font-size: var(--dig-ui-login-card-links-font-size);
}

@media screen and (max-width: 600px) {
  :host {
    background-color: var(--dig-ui-login-card-background-color);

    .login-card {
      padding: var(--dig-ui-login-card-mobile-padding);
      margin: 0;
      border: 0;
      min-width: calc(100vw - 80px);
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 400px) {
  :host {
    .login-card {
      min-width: calc(100vw - 40px);
    }
  }
}
