:host {
  --dig-ui-edit-card-border-radius: 4px;
  --dig-ui-edit-card-border-width: 1px;
  --dig-ui-edit-card-border-color: rgba(0, 0, 0, 0.125);
  --dig-ui-edit-card-padding-vertical: 10px;
  --dig-ui-edit-card-padding-horizontal: 10px;
}

.edit-card {
  position: relative;
  border: var(--dig-ui-edit-card-border-width) solid
    var(--dig-ui-edit-card-border-color);
  border-radius: var(--dig-ui-edit-card-border-radius);
  padding: var(--dig-ui-edit-card-padding-vertical)
    var(--dig-ui-edit-card-padding-horizontal);
}

.ctrl-buttons {
  float: right;
  font-size: 0px;
}
